body
{
    /* background:url(https://media3.giphy.com/media/l4KihuqeuJEi9qLSM/giphy.gif) no-repeat center center fixed;
    background-size: cover; */
    background-color:rgb(116, 8, 8); 
}
#block{
    width:70%;
    word-wrap:break-word;
    padding:15px;
    margin:5px 10px 0px;
    border-radius: 10px;
    color:white;
    font-size:18px;
    float:left;
    background-color:red;
}
#block1{
     width:70%;
     word-wrap:break-word;
     padding:15px;
     margin:5px 10px 0px;
     border-radius: 10px;
     color:white;
     font-size:18px;
     background-color:green;
     position: relative;
    float:right;     
 }
#mainbox
{
    width:600px;
    height:500px;
    margin-left:auto;
    margin-right:auto;
    margin-top:100px;
    box-shadow: 2px 1px 20px black;  
}
#chatbox
{
    height:460px;
    width:600px;
    overflow-y:scroll;
}

#inputs
{
    background-color:brown;
}
    
#msg1
{
    width:200px;
    height:20px;
    margin:10px;
    margin-right:0px;
    border-radius:10px;
}
#msg2
{
    margin-left:40px;
    width:200px;
    height:20px;
    border-radius:10px;
}
#btn
{
    width:50px;
    height:30px;
    color:white;
    margin-left:5px;
    background-color:black;
    border-radius:10px;
}